.special-brand{
    width: 90% !important;
    margin: 0 auto !important;
  }
  
  .specialbrandbox img{
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.13);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  .specialbrandbox a img:hover{
    transform:translateY(-5px);
    transition-duration: 0.3s;
  }