ul > li {
    display: inline-block;
    font-size:18px;
    font-weight: bold;
    margin: 0px 8px;
    color: #4d4d4d;
  }

  .li-hasBg{
    background-image:url(../../assets/images/change.png) !important;
    background-size: auto !important;
    background-repeat: no-repeat;
    background-position: center !important;
    width: 125px;
    text-align: center;
    color:white !important;
    transition-duration:0.3s;
}


.dropdown-products {
  visibility: hidden;
}

.menu-products:hover .dropdown-products {
  visibility: visible;
}

.dropdown-products:hover .dropdown-products{
  visibility: visible;
}

ul.dropdown-products li{
  margin-right: 15px;
}

.search-result:hover{
  background-color:#efefef;
}