.special-access{
    width: 96%;
    margin: 0 auto;
  }
  
  .specialaccessbox{
      border-radius: 5px;
      margin-top: 10px;
    }
    
    .specialaccessinof{
      background:#fff;
      text-align: center;
      border-bottom-right-radius:5px;
      border-bottom-left-radius:5px;
    }
    
    .specialaccessinof p{
      padding: 10px 0 0 0;
      font-size: 17px;
      display: inline-block;
    }
    
    .specialaccessbox img{
      width: 100%;
      border-bottom-right-radius:5px;
      border-bottom-left-radius:5px;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.12);
    }
    
    .specialaccessbox img:hover {
      -webkit-filter: sepia(0);
      filter: sepia(100%);
      /* transform:translateY(-5px);
      transition-duration: 0.5s; */
    }
    
    a.socialmediaicon{
      color:#3f414d;
      font-size: 28px;
      margin-left: 13px;
    }