@media screen and (max-width:1400px) {
    
    .swiper-slide >a >img{
        width: 200px !important;
    }

    
  .banner-one-image{
    width: 92% !important;
  }

  .special-offer{
    width: 92% !important;
  }

  .specialofferbox a img{
    width: 340px !important;
}

    .productcol{
        width: 1040px !important;
    }

    .filtercol{
        width: 300px !important;
        margin-right: 25px;
    }

}

@media screen and (max-width:1300px) {
    
    .productcol{
        width: 1000px !important;
    }

    .filtercol{
        width: 290px !important;
        margin-right: 15px;
    }

}


@media screen and (max-width:1200px) {

    .swiper-slide >a >img{
        width: 170px !important;
    }

    .productcol{
        width: 850px !important;
    }

    .filtercol{
        width: 255px !important;
        margin-right: 15px;
    }

    .custom-card{
        width:250px !important;
    }

}

@media screen and (max-width:1000px) {
    .specialofferbox a img{
        width: 310px !important;
    }

    .productcol{
        width: 750px !important;
    }

    .productMainContainer{
        flex-direction: column;
    }
}

@media screen and (max-width:992px) {

    .swiper-slide >a >img{
        width: 146px !important;
    }

    .specialofferbox a img{
        width: 360px !important;
    }

    .productcol{
        width: 900px !important;
    }

    .filtercol{
        width: 96% !important;
        margin-right: 15px;
    }
}

@media screen and (max-width:767px) {

    .header-top{
        display: none ;
    }
    .responsive-nav{
        flex-direction: column !important;
        background-color: #fff;
        width:200px;
        position: absolute;
        top: 60px;
        right: 5px;
    }
    .menu-right{
        padding:0 !important;
    }

    .menu-right> ul{
        padding-right: 30px;
    }

    .menu-right> ul >li{
        font-size:20px;
    }

    .li-hasBg{
        background-image: none !important;
        color:rgba(0,0,0,0.65)!important;
        text-align: right;
    }

    .li-hasBg:hover{
        color:rgba(0,0,0,0.8)!important;
    }

    .specialofferbox a img{
        width: 450px !important;
    }

    .sending-condition{
        display: none;
    }

    .flexcolumn{
        flex-direction: column !important;
    }

    .magazinebox{
        margin: 15px 0px !important;
    }



    .conditionforfooter{
        margin-right:20px !important;
    }

    .footerdiv3{
        display:none !important;
    }

    
    .image__container .img{
        width: 50%;
        height: 50%;
    }

    .productTitle{
        font-size:18px;
    }

    .subTitleContainer > h2{
        font-size: 15px;
    }
}

@media screen and (max-width:576px) {
    .nav-bottom nav{
        display:flex;
        flex-direction:column;
    }

    .swiper-slide >a >img{
        width: 120px !important;
    }

    .custom-card{
        width:240px !important;
    }

    .productTitle{
        font-size:16px;
    }

    .subTitleContainer > h2{
        font-size: 14px;
    }

}

@media screen and (max-width:400px) {   
    .swiper{
        justify-content: start !important;
    }
    .swiper-slide >a >img{
        width: 100px !important;
    }

    .specialofferbox a img{
        width: 380px !important;
    }

    .productTitle{
        font-size:15px;
    }

    .subTitleContainer > h2{
        font-size: 12px;
    }

}